<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <link href="../styles/style.css" rel="stylesheet" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="nav">
            <div class="logo"><a href="../index.html">Home</a></div>
            <div class="menu">
                <a href="../pages/Machines.jsp" title="See Articals">Machines</a>
                <a href="../pages/Salles.jsp" title="About">Salles</a>
                <a href="../pages/Recherche.jsp" title="Contact Us">Recherche</a>
            </div>
        </div> 
    </body>
</html>
